<table class="table">
	<tr>
		<th>First Name
		</th>
		<th>Last Name
		</th>
		<th>Technology
		</th>
		<th>Gender</th>
		<th>DOB</th>
		<th>Salary</th>
		<th>City</th>
	</tr>
	<tr ng-repeat="employee in employees">
	<td> {{employee.firstName|uppercase}}        </td>
	<td> {{employee.lastName|uppercase}}         </td>
	<td> {{employee.technology|uppercase}}       </td>
	<td> {{employee.gender|gender}}              </td>
	<td> {{employee.dateOfBirth |date:"dd/MM/yyyy"}}    </td>
	<td> {{employee.salary|number:2}}            </td>
	<td> {{employee.city|uppercase}}             </td>
	</tr>
</table>
<form class="form-horizontal" role="form" ng-submit="addRow()">

	<div class="form-group">
		<label class="col-md-2 control-label">First Name</label>
		<div class="col-md-4">
			<input type="text" name="firstName" ng-model="firstName" required />
		</div>
		</div>


		<div class="form-group">
	<label class="col-md-2 control-label">Last Name</label>
		<div class="col-md-4">
			<input type="text" name="lastName" ng-model="lastName" required/>
		</div>
		</div>

<div class="form-group">
		<label class="col-md-2 control-label">Technology</label>
		<div class="col-md-4">
			<input type="text" name="technology" ng-model="technology" required/>
		</div>
		</div>

<div class="form-group">
	<label class="col-md-2 control-label">Gender(1-M or 2-F)</label>
		<div class="col-md-4">
			<input type="number" name="gender" ng-model="gender" required/>
		</div>
		</div>



<div class="form-group">
		<label class="col-md-2 control-label">DOB</label>
		<div class="col-md-4">
			<input type="date" name="dateOfBirth" ng-model="dateOfBirth" required/>
		</div>
		</div>



		<div class="form-group">
		<label class="col-md-2 control-label">Salary</label>
		<div class="col-md-4">
			<input type="text" name="salary" ng-model="salary" required/>
		</div>
		</div>

		<div class="form-group">
		<label class="col-md-2 control-label">City</label>
		<div class="col-md-4">
			<input type="text" name="city" ng-model="city" required/>
		</div>
		</div>

	<div class="form-group">								
		<div style="padding-left:110px">
			<input type="submit" value="Submit" class="btn btn-primary"/>
		</div>
	</div>
</form>


 