
<div class="container">
  <div class="page-header">
  <b>{{message}}</b>
</div>


<div class="row">
<div class="col-sm-6">
<center><img src="image/emp1.jpg" class="img-circle" alt="Cinque Terre" width="350" height="300"></center><br/>
<center><button ng-click="add()" type="button" >Add Emplyoee</button></center>
</div>




<div class="col-sm-6">
<center><img src="image/emp1.png" class="img-circle" alt="Cinque Terre" width="350" height="300"></center><br/>
<center><button ng-click="view()" type="button">View Employee</button></center>
</div>

</div>
</div>
